h1{
    display: flex;
    justify-content: center;
    padding: 30px;


}

.encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel.inner{
    max-height: 39rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide{
    width: 40%;
}

.novedades{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.card-group{
    padding: 5px;

}


@import "../node_modules/bootstrap/scss/bootstrap";